extends baseEmail


block content
    p Hi #{firstname},
        p Someone has requested a link to change your password. You can do this through the button below.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='center')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Change my password
        p If you didn't request this, please ignore this email. Your password will stay safe and won't be changed.
        p - Santosh Gupta, CEO